@font-face {
    font-family: ROBOTO-LIGHT;
    src: url(fonts/roboto/ROBOTO-LIGHT.ttf);
}
@font-face {
    font-family: PlayfairDisplaySC-Black;
    src: url(fonts/playfair-display/PlayfairDisplaySC-Black.otf);
}

.navbar-inverse{
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;

}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent; 
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: transparent;
}
.navbar-brand{
	padding: 4px 15px;
}
.carousel-caption h1{
	font-family: PlayfairDisplaySC-Black;
	font-size: 64px;

}
.carousel-caption p{
	font-family: ROBOTO-LIGHT;
	font-size: 24px;

}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #25c2ce;
}


@media (min-width: 768px){
.navbar-nav {
    float: right;
    padding-top: 14px;
    padding-bottom: 10px;
    margin: 0;
}
}
.linestyle{
	height: 8px;

}
.btn{
	border-radius: 0px;
}
.btn-slider{
	background-color: transparent;
	border-color: #00e0d0;
	color: #00e0d0;
	margin-top: 50px;
}
.story{
	text-align: left;
}
#our-story{
	color: #413d4b;
	background-color: white;
	margin-top: 40px;
	margin-bottom: 40px;
}
.our-story {
	text-align: left;
}
.story-heading{
	color: #413d4b;
	font-size: 35px;
	font-family: ROBOTO-LIGHT;
}
.story-content{
	font-size: 18px;
	font-family: ROBOTO-LIGHT;
	color: #413d4b	
}
.story button{
	background-color: transparent;
	border-color: #00e0d0;
	color: #00e0d0;
	margin-top: 10px;
}
#watch-our-story {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url('../images/video-1.jpg');
	min-height: 660px;
	background-repeat: no-repeat;
	background-size: cover;
}
.story-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#expertise {	
	text-align: center;
	padding-top: 40px;
}
#expertise img {	
	margin-top: 10px;
	padding-bottom: 20px;
	width: 15%;
}
#expertise h4{
	font-size: 16px;
	font-weight: bold;
}
#expertise p{	
	font-size: 15px;
	color: #c6c4c9;
}
#expertise{
	padding-bottom: 100px;
}
.expertise-1,.expertise-2,.expertise-4,.expertise-5{
	border-right: 1px solid #cac8cc7a;
}
.expertise-1,.expertise-2,.expertise-3{
	border-bottom: 1px solid #cac8cc7a;
}
#team{
	background-image: url('../images/team.jpg');
	background-size: cover;
	min-height: 845px;
}
.team-heading{
	color: white;
	font-size: 35px;
	font-family: ROBOTO-LIGHT;
	text-align: center;
	margin-top: 50px;
}
.team-content{
	font-size: 18px;
	font-family: ROBOTO-LIGHT;
	color: white;
	text-align: center;
}
.thumbnail{
	border-radius: 0px;
	padding: 0px;
	background-color: transparent;
	border-color: 1px solid #ddd;
	width: 100%;
	margin-top: 50px;
}
.team-member{
	color: white;
	text-align: center;
}
.designation{
	color: white;
	text-align: center;
	font-size: 12px;
}
.team-btn{
	text-align: center;
}
.team-btn p{
	color: white;
	margin-top: 40px;
}
.works-heading{	
	color: #413d4b;
    font-size: 35px;
    font-family: ROBOTO-LIGHT;
    margin-top: 60px;
    margin-bottom: 20px;
}
.working-project{
	text-align: center;
	color: #413d4b;
    font-size: 18px;
    font-family: ROBOTO-LIGHT;
    margin-top: 60px;
    margin-bottom: 60px;
}
.working-project .fas{
	font-size: 25px;
}
#testimonials{
	background-image: url('../images/team.jpg');
	background-size: cover;
	min-height: 500px;
}
.working-box img{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.working-box .col-md-2{
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.form{
	text-align: left;
}
.form .form-control{
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 0px;
}
#msg{
	padding-top: 20px;
	padding-bottom: 100px;
}

.form .btn-form{
	margin-top: 5px;
}
.client-logo{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px; 
}
#name, #email, #subject{
	padding-top: 20px;
	padding-bottom: 20px
}
#form-client{
	margin-bottom: 50px;
}
#footer-bg{
	background-image: url(../images/footer-bg.jpg);
	width: 100%;
	min-height: 300px;
	padding-top: 50px;	
}
.footer-heading{
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-align: left;
	line-height: 70px;
}
.footer-content{
	color: white;
}
.studio ul{
	list-style-type: none;
	text-align: left;
}
.studio li{
	float: left;
.}
.studio h5{
	margin-bottom: 45px;
	font-size: 15px;
	font-weight: bold;
}
.Subcribe h5{
	margin-bottom: 45px;
	font-size: 15px;
	font-weight: bold;
}
.Subcribe input{
	background-color: transparent;
	color: white;
	border-radius: 0px;	
	height: 45px;
	width: 75%;
	margin-right: 10px;	
	float: left;
}
.Subcribe img{	
	top: 0px;
	right: 0px;
	
}
.studio{
	padding: 0px;
	margin: 0px;
}
.fa-map-marker:before{
	font-size: 20px;
}
.smedia ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.smedia ul li{
	font-size: 16px;
	display: inline;
	padding: 12px 12px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 5px;
}
.footer{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;	
	text-align: left;	
	color: white;
	font-size: 15px;
}
.footer ul{
	margin: 0px;
	padding: 0px;
}
.footer li{

	padding-right: 35px;
	display: inline;
	text-decoration: none;
}
.copyright{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;	
	text-align: right;	
	color: white;
	font-size: 15px;
}