.about-section{
    .about-detail-page{
        p{
            margin-bottom: 15px;
        }
    }
}

.about-page-section{
    .two{
        @media (max-width: 767.98px){
            display: none;
        }
    }
}
.whitelayer{
    background-color: #fff;
    height: 100px;
}