body{
	margin: 0px;
	padding: 0px;
}
@font-face {
    font-family: georgia;
    src: url(fonts/georgia.ttf);
}
.header-bg{
	background-image: url(../images/header-img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 900px;
	width: 100%;

}
.header-bg img{
	width: 100%;
}

.navbar-toggle{
	display: block;
}
.logo {

	position: fixed;
	top: 8px; 
	left: 20%;
	z-index: 2;	
}
.bar{
	position: fixed;
	top: 0;
	height: 70px;
	width: 100%;
	z-index: 1;
	background-color: #0000;
}
.header-btn {
	position: fixed;
	top: 6px; right: 20%;	
	z-index: 2;
}
.navbar-toggle .icon-bar{
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}
.header-txt{
	position: absolute;
	top: 30%;
	left: 20%;
	text-transform: uppercase;	
	color: white;	
	margin-top: 100px;
}
.header-txt h3{
	font-family: georgia;
	font-size: 40px;
}
.header-txt h1{
	font-family: georgia;
	font-size: 100px;
}
.header-txt h6{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.work-quality{
	margin-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}
.work-quality img{	
	font-weight: 900;
    padding: 40px;
    border-radius: 50%;    
    width: 55%; 
    transition: background 2s;       
}
.work-quality img:hover{
	background-color: #e54c4c;    
	border-radius: 50%;
	color: white;
}
.work-quality h4{
	font-size: 30px;
	font-family: georgia;
}
.work-quality h6{
	font-size: 15px;
	font-family: georgia;
	padding-left: 10px;
	padding-right: 10px;
}

/*easy to acess started*/
#easyToAcess{
	background: url(../images/esy2acess.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.easyToAcess{
	padding-top: 80px;
}
.easyToAcess img{
	width: 60%;
	float: right;
}
.easyToAcessTxt{
	color: white;
	
}
.easyToAcessTxt h1{
	font-family: georgia;
}
/*easy to acess ended*/
/*serv stated*/

.servTxt{
	text-align: center;
}
.servTxt h1{
	font-family: georgia; 
}
.servTxt p{
	display: inline-block;
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 15px;
}
.serv{
	text-align: center;
}

.serv-row{
	text-align: center;
}
.serv-detail{
	display: inline !important;
	float: left !important;
}
.serv-detail i{
	margin-top: 25px;
	width: 10%;
	float: left;
	font-size: 35px;
}
.serv-detail h3{
	font-size: 20px;
	font-family: georgia; 	
	margin-left: 70px;
}
.serv-detail p{
	margin-left: 70px;
}
/*serv end*/

/*feature start*/
#feature{
	background: url(../images/feature.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.feature h1{
	text-align: center;
	font-family: georgia; 
	color: white;
	padding-bottom: 50px;
}
.featureImg{
	text-align: center;
}
/*feature end*/

/*work started*/
.workTxt{
	margin: 10px;
	text-align: center;
	color: white;
	background-color: #2d2d2d;
	transition: background 1s;
}
.workTxt:hover{
	background-color: #e55454;
}
.workTxt i{
	font-size: 30px;
	padding-bottom: 25px;
	padding-top: 20px;
}
.workTxt h5{
	text-transform: uppercase;
	font-size: 25px;
	font-family: georgia;
	padding-bottom: 10px;
}
.workTxt p{
	padding-bottom: 25px;
}
/*work end*/
/*work with us stated*/
#work-with-us{
	background: url(../images/work-with-us.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.workWithTxt{
	text-align: center;
	font-family: georgia; 
	color: white;
	padding-bottom: 50px;
}

.flex-wrapper {
  display: inline;
  }

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #fff;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: square;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #000000;
}

.circular-chart.green .circle {
  stroke: #000000;
}

.circular-chart.blue .circle {
  stroke: #000000;
}

.percentage {
  fill: #fff;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.single-chart p{
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 60px;
}
/*work with us end*/

/*meet our team started*/
.meet{
	text-align: center;
}
.meet h1{
	font-family: georgia; 
	text-align: center;
}
.meet p{
	display: inline-block;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
}
.team{
	text-align: center;
	font-family: georgia; 
}
.team h3{
	font-size: 20px;
}
.team h5{
	font-size: 16px;
	color: #9fa4af;
}
.team p{
	font-size: 14px;
	color: #9fa4af;
	padding-left: 20px
	padding-right: 20px;
}
.team ul{
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	color: #b71275;
}
.team li{
	display: inline;
}
.team i{
	padding-left: 20px;
	padding-right: 20px;
}
/*meet our team ended*/
.maecenas{	
	background-color: #e54c4c;
	text-align: center;
	color: white;
}
.maecenas p{	
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: georgia;
	font-size: 20px;
	margin-bottom: 0px;
}
.form input{
	width: 100%;
	margin-top: 20px;
	padding: 8px;
	border-radius: 3px;
	border-color: transparent;

}
/*contact started*/
#contact{
	background-image: url('../images/contact-me.jpg');
	max-height: 1000px;
}
.captche input{
	max-width: 10%;
	height: 48px;
	background-color: transparent;
	color: white;
	text-align: center;
}
.captche{
	text-align: center;
	margin: 20px;

}
.captche img{	
	margin: 20px;
}
.form-msg input{
	padding-bottom: 60px;
}
.submit button{
	width: 60%;
	background-color: #e54c4c;
	border-color: #e54c4c;
	color: white;
	padding: 10px;
}
.about h1 {
    font-family: georgia;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.about p{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
}
.footer-logo{
	text-align: center;
}
.s-media{
	text-align: center;	
}
.s-media ul{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
.s-media li{
	list-style-type: none;
	color: white;
	display: inline-block;
	padding: 15px;
}
/*contact ended*/

/*footer started*/
#footer{
	background-color: black;
}
.footer{
	text-align: center;
	color: white;
	padding: 25px;
}
/*footer ended*/